{% extends 'empanadas/base.html' %}

{% block title %}renouvellement du mot de passe{% endblock %}

{% block main %}
{% if validlink %}
<h2>saisie du nouveau mot de passe</h2>
<p>
    Veuillez saisir deux fois votre nouveau mot de passe.
</p>
<form id="form_password_reset" method="post">
    {% csrf_token %}
    <div class="m-3">
        <label for="id_new_password1" class="form-label">nouveau mot de passe</label>
        <input id="id_new_password1" type="password" name="new_password1" class="form-control" required/>
    </div>
    <div class="m-3">
        <label for="id_new_password2" class="form-label">confirmer le nouveau mot de passe</label>
        <input id="id_new_password2" type="password" name="new_password2" class="form-control" required/>
    </div>
    <button type="submit" class="btn btn-primary">changer de mot de passe</button>
</form>
{% else %}
<h2>échec de la réinitialisation</h2>
<p>le lien est invalide. Veuillez réessayer.</p>
{% endif %}
{% endblock %}