{% extends 'empanadas/base.html' %}

{% block title %}Profil{% endblock %}

{% block main %}
<h2>Votre compte</h2>
<form
	id="form_profil"
	method="post"
	enctype="multipart/form-data"
	action="/user/updated/">
	{% csrf_token %}
	<div class="m-3">
		<label for="id_username" class="form-label">identifiant</label>
		<input
			id="id_username"
			type="text"
			name="username"
			class="form-control"
			value="{{ user.username }}" />
	</div>
	<div class="m-3">
		<label for="id_firstname" class="form-label">prénom</label>
		<input
			id="id_firstname"
			type="text"
			name="first_name"
			class="form-control"
			value="{{ user.first_name }}" />
	</div>
	<div class="m-3">
		<label for="id_lastname" class="form-label">nom</label>
		<input
			id="id_lastname"
			type="text"
			name="last_name"
			class="form-control"
			value="{{ user.last_name }}" />
	</div>
	<div class="m-3">
		<label for="id_email" class="form-label">email</label>
		<input
			id="id_email"
			type="email"
			name="email"
			class="form-control"
			value="{{ user.email }}" />
	</div>
	<div class="m-3">
		<figure class="w-25 text-center m-auto">
			<img src="{{MEDIA_URL}}{{user.image}}" class="img-fluid" />
			<figcaption>avatar actuel</figcaption>
		</figure>
		<label for="id_image" class="form-label">autre photo</label>
		<input
			id="id_image"
			name="image"
			type="file"
			accept="image/*"
			class="form-control" />
	</div>
    <button type="submit" class="btn btn-primary">mettre à jour</button>
</form>
{% endblock %}
