{% extends 'empanadas/base.html' %}

{% block title %} Détail d'une empanada {% endblock %}

{% block main %}
<h2>{{ empanada }}</h2>
<img src="{{ MEDIA_URL }}{{ empanada.image }}" class="img-fluid" />
<table class="table table-striped">
    <tbody>
        {% if ingredients %}
        {% for ligne in ingredients %}
        <tr>
            {% if user.is_staff %}
            <td>{{ ligne.nomIngredient }}</td>
            <td>{{ ligne.quantite }}</td>
            <td>
                <a href="/empanada/{{ empanada.idEmpanada }}/deleteIngredient/{{ ligne.idComposition }}" title="Supprimer cet ingrédient" class="me-2">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
            {% else %}
            <td>{{ ligne.nomIngredient }}</td>
            <td>{{ ligne.quantite }}</td>
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td></td>
            <td>Ingrédient non renseigné pour cet empanada.</td>
            <td></td>
        </tr>
        {% endif %}
    </tbody>
</table>
<br>
{% if user.is_staff %}
<h2>Ajouter un ingrédient à la recette</h2>
<form action="/empanada/{{ empanada.idEmpanada }}/addIngredient" method="post">
    {% csrf_token %}
    <div class="m-3">
        <label for="id_ingredient" class="form-label">Ingrédient</label>
        <select id="id_ingredient" name="ingredient" class="form-select" required>
            <option selected disabled>Choisissez</option>
            {% for ingr in all_ingredients %}
            <option value="{{ ingr.idIngredient }}">{{ ingr.nomIngredient }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="m-3">
        <label for="id_quantite" class="form-label">Quantité</label>
        <input id="id_quantite" name="quantite" type="text" maxlength="100" required class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
{% endif %}
{% endblock %}
