{% extends 'empanadas/base.html' %}

{% block title %} Détail d'une empanada {% endblock %}

{% block main %}
    <h2>{{ empanada }}</h2>

    <table class="table table-striped">
        <tbody>
            {% if ingredients %}
                {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.quantite }}</td>
                    <td>{{ ingredient.nomIngredient }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">Ingrédient non renseigné pour cet empanada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
