{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"
            ><img
                src="{% static 'empanadas/img/empanadas.webp' %}"
                height="50em"
                width="50em"
            />
            Tienda de Empanadas</a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarText" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/empanadas">les empanadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ingredients">les ingrédients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ingredients/add"
                        >créer un ingrédient</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/empanadas/add"
                        >créer un empanada</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
