<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>les empanadas</title>
</head>
<body>
    <header>
        <nav>
            <div><a href="/empanadas">les empanadas</a></div>
            <div><a href="/ingredients">les ingredients</a></div>
        </nav>
    </header>
    <main>
        <h2>Voici nos {{empandas|length}} empanadas</h2>
        <ul>
            {%for emp in empanadas %}
            <li>{{emp}}</li>
            {% endfor   %}
        </ul>
    </main>
    <footer>
        &#127279; Tienda Django Criollo
    </footer>
</body>
</html>