body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    padding: 15px 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Permet de changer la couleur de la navbar */
.bg-success,
.container-fluid {
    background-color: rgb(192, 186, 82) !important;
}
