body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    padding: 15px 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Permet de changer la couleur de la navbar */
.bg-success,
.container-fluid {
    background-color: rgb(192, 186, 82) !important;
}

.table {
    max-width: 800px;
    margin: 0 auto;
    border-top: 1px solid black;
    border-collapse: collapse; /* Ajout pour éviter les doubles bordures */
}

.table td, .table th {
    vertical-align: middle; /* Centrer verticalement le contenu des cellules */
    padding: 10px; /* Ajouter un padding pour améliorer l'espacement */
    border: 1px solid #ddd; /* Ajouter une bordure pour séparer les cellules */
}

.table td:last-child {
    text-align: right; /* Aligner le contenu à droite pour la dernière colonne */
}

.table a {
    margin-right: 10px;
}

.table i {
    font-size: 1.5em;
}

.card img {
    max-height: 150px;
    object-fit: contain;
    margin: 5%;
    border-radius: 5%;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgb(192, 186, 82);
    color: black;
}

h2 {
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.img-fluid {
    margin: auto;
    display: flex;
    width: 25rem;
    padding: 0.5em;
}

footer {
    background-color: #858585;
}

.rounded-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}